<aside class="col-md-3 sidebar">
				<div class="widget widget_stats">
					<div class="ul_list ul_list-icon-ok">
						<ul>
							<li><a href="/Questions/Create"><i class="icon-question-sign"></i>問問題</a></li>
							<!--<li><a href="/Questions/Create"><i class="icon-user-md"></i>用戶管理</a></li>-->
						</ul>
					</div>
				</div>
				
				<div id="tags_widget" class="widget widget_tag_cloud">
					<h3 class="widget_title">Tags</h3>
					<!--<a href="#">tag1</a>-->
				</div>
				
			</aside><!-- End sidebar -->

<script>
	window.addEventListener('load', function () {
		$.ajax({ //獲取資料庫tags列表
			dataType: "json",
			url: "/Tags",
			async: false,
			success: function (data) {
				//console.log(data);
				data.forEach(function (v) {
					var $a = $('<a></a>').text(v.Name).attr('href', '/Questions/Tagged/' + v.Name);
					$('#tags_widget').append($a);
				});
				//console.log(select2_data);
			}
		});
	})
</script>	